<div width="100%">
  <input type="text" [(ngModel)]="prodname">

  <input type="text" [(ngModel)]="proddesc">

  <button (click)="add()">Add</button>
</div>

<br>
<br>



<table>
  <tr>
    <th>
      Product Name
    </th>
    <th>
      Product Description
    </th>
    <th>
      Actions
    </th>
  </tr>
  <tr *ngFor="let product of prodobs | async">
    <td>
      <input type="text" [(ngModel)]="product.prodname">
    </td>
    <td>
      <input type="text" [(ngModel)]="product.proddesc">
    </td>
    <td>
      <button (click)="update(product)" class="buttongreen">update</button>
      <button (click)="delete(product)" class="buttonred">delete</button>
    </td>
  </tr>
</table>